transformers
tensorflow
sentence-transformers
accelerate
huggingface_hub
langchain
faiss-cpu
python-dotenv
ipykernel
scikit-learn
tensorboard
nltk
notebook
sentencepiece
jupyter
ipywidgets
python-dotenv
langchainhub
langchain-community
langsmith
langchain_core
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain_openai
chromadb