transformers
huggingface_hub
langchain
faiss-cpu
python-dotenv
ipykernel
nltk
notebook
jupyter
ipywidgets
python-dotenv
langchainhub
langchain-community
langsmith
langchain_core
pypdf
pymupdf
langchain-text-splitters
langchain_openai
jupyter-contrib-nbextensions
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-ollama
streamlit
groq
langchain_groq
langserve[serve]
uvicorn
langchain-chroma
datasets
PyPDF2 # this is for pdf reading
# quickly build and share user interfaces (UIs) for machine learning models
gradio